/* Global styles */
body {
  background-color: #eaeaea;
  color: #131b75;
}

.georgia-font {
  font-family: "Georgia", serif;
}

/* Common styles for buttons */
.button {
  color: #f2f2f2; /* Off-white */
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  font-family: "georgia-font";
}

.button:hover {
  background-color: #01117f; /* Darker shade of navy blue on hover */
}

/* Main content styles */
.save-changes {
  width: 200px;
  height: 60px;
  font-size: 25px;
}

.header-font {
  font-size: 30px;
  background-color: yellow;
  border-radius: 10px;
}

.block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #eaeaea;
  background-color: #bdd5e7;
  color: #131b75;
  padding: 14px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  font-family: "georgia-font";
}

.block:hover {
  background-color: lightgreen;
  color: black;
}

.trashcan-icon {
  position: absolute;
  right: 10px;
  color: red;
}

/* Snackbar styles */
.snack-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.snack-bar.show {
  opacity: 1;
}

/* Snackbar container styles */
#snackBarContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Button to generate report */
#generateReportButton {
  color: #f2f2f2; /* Off-white */
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 150px;
  border-radius: 10px;
  background-color: #010142; /* Dark navy */
}

#generateReportButton:hover {
  background-color: #01117f; /* Darker shade of navy blue on hover */
}

/* Light mode styles */
.light-mode body {
  background-color: #eaeaea;
  color: #131b75;
}

.block.light-mode {
  background-color: lightgray;
  color: #bdd5e7;
}

.block.light-mode:hover {
  background-color: lightgreen;
  color: #bdd5e7;
}

.snack-bar.light-mode {
  background-color: #333;
  color: #fff;
}

.delete-icon {
  margin-left: auto;
  color: red;
}

.add-skill-button {
  color: #f2f2f2; /* Off-white */
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 150px;
  border-radius: 10px;
  background-color: #010142; /* Dark navy */ 
}

.add-skill-button:hover {
  background-color: #01117f; /* Darker shade of navy blue on hover */
}

.delete-skill-button,
.delete-category-button {
  color: #f2f2f2; /* Off-white */
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 150px;
  border-radius: 10px;
  background-color: #010142; /* Dark navy */
  margin-right: 10px; /* Added to create some space between buttons */
}

.delete-skill-button:hover,
.delete-category-button:hover {
  background-color: #01117f; /* Darker shade of navy blue on hover */
}

/* Add Skill form styles */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 1px solid #ccc;
  z-index: 9;
  background-color: #f1f1f1;
  padding: 15px;
  width: 300px;
  max-width: 90%;
}

.absent-button {
  color: #f2f2f2; /* Off-white */
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 150px;
  border-radius: 10px;
  background-color: #910101; /* Dark red */
}

.absent-button:hover {
  background-color: #b70000; /* Darker shade of red on hover */
}


.form-popup h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-popup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-popup input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-popup button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

.form-popup .cancel {
  background-color: #ccc;
}

/* Absent button styles */
.absent-button {
  color: #f2f2f2; /* Off-white */
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 150px;
  border-radius: 10px;
  background-color: #010142; /* Dark navy */
}

.absent-button:hover {
  background-color: #01117f; /* Darker shade of navy blue on hover */
}

.absent-button.clicked {
  background-color: #00b700; /* Green when clicked */
}

