/* Light mode styles */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.student-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-row td {
  width: 48%;
}

.block {
  display: flex;
  align-items: center;
  width: 98%;
  border: 2px transparent;
  background-color: lightgray;
  color: black;
  padding: 14px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  font-family: "georgia-font";
}

.block:hover {
  background-color: lightgreen;
  color: black;
}

.block .student-name {
  flex-grow: 1;
}

.block .delete-icon {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}

.open-button {
  color: black;
  padding: 16px 20px;
  border: blue;
  cursor: pointer;
  opacity: 0.8;
  float: right;
  margin-right: 10px;
  width: auto;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
}

.form-container {
  max-width: 300px;
  padding: 10px;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Dark mode styles */

/* Dark mode styles */

body.dark-mode {
  background-color: #121212;
  color: #fff;
}

#myInput.dark-mode {
  border: 1px solid #888;
  background-color: #222;
  color: #fff;
}

.dark-mode .block {
  background-color: #404040;
  color: white;
}

body.dark-mode .block:hover {
  background-color: #1DB954;
  color: #fff;
}

.block.dark-mode .delete-icon {
  color: #ff5555;
}

.open-button.dark-mode {
  color: #fff;
  border: 2px solid #555;
}

.form-popup.dark-mode {
  border: 3px solid #666;
  background-color: #333;
  color: #fff;
}

.form-container.dark-mode input[type=text],
.form-container.dark-mode input[type=password] {
  background-color: #222;
  color: #fff;
}

.form-container.dark-mode .btn {
  background-color: #888;
  border-color: #888;
}

.form-container.dark-mode .cancel {
  background-color: #cc5555;
}

#snackbar.dark-mode {
  background-color: #222;
  color: #fff;
}
