.save-changes {
  width: 200px;
  height: 60px;
  font-size: 25px;
  font-family: "georgia-font";
}

.header-font {
  font-size: 30px;
  font-family: "georgia-font";
  background-color: yellow;
  border-radius: 10px;
}

.block {
  position: relative; /* Added */
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #eaeaea;
  background-color: #bdd5e7;
  color: #131b75;
  padding: 14px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  font-family: "georgia-font";
}

.block:hover {
  background-color: lightgreen;
  color: black;
}

.trashcan-icon {
  position: absolute; /* Added */
  right: 10px; /* Added */
  color: red; /* Added */
}

.snack-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.snack-bar.show {
  opacity: 1;
}

/* Adjusted styles for snackBarContainer */
#snackBarContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

/* Adjusted styles for generateReportButton and addSkillButton */
#generateReportButton,
.add-skill-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: yellow;
  color: black;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  font-family: "georgia-font";
  border-radius: 10px;
}

.add-skill-button {
  top: 80px;
}

/* Light mode styles */
body {
  background-color: #eaeaea;
  color: #131b75;
}

.block.light-mode {
  background-color: lightgray;
  color: #bdd5e7;
}

.block.light-mode:hover {
  background-color: lightgreen;
  color: #bdd5e7;
}

.snack-bar.light-mode {
  background-color: #333;
  color: #fff;
}

.delete-icon {
  margin-left: auto;
  color: red;
}
